/* stock change color */
.text-danger {
  color: red;
}
.text-success {
  color: blue;
}

/* list stock style */
.dropdown-menu {
  height: 200px;
  overflow: auto;
  cursor: pointer;
}

/* .item-dropdown {
} */
